<!doctype html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {%include 'include/_nav.html'%}
    <div class="container mt-5">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>